<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
    </div>
    <div class="center sliding">Artistas</div>
    <div class="right">
        <a href="#" class="link icon-only"><div class="font-gris icon-top-menu-size icon-custom-icons-21-03"></div></a>
    </div>
  </div>
</div>

<div class="pages">
  <div class="page" data-page="artistas_alerta">

    <div class="page-content">

      <div class="lista_artistas lista_alertas">
        <ul>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell active"></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell"></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell"></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell active"></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell"></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell"></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell "></div>
              </a>
            </div>
          </li>

          <!-- item -->
          <li>
            <div class="img-user">
               <figure>
                 <img src="images/user-bg.svg" alt="">
               </figure>
            </div>
            <div class="name-user">
              <p>Usuario</p>
            </div>
            <div class="activar-alerta text-right">
              <a href="#">
                <div class="font-gris icon-bell"></div>
              </a>
            </div>
          </li>

          


        
         
        </ul>
      </div>

     
    </div><!--page-content-->


      <!-- Bottom Toolbar-->
      <div class="toolbar no-border grandiant-small gradiant-blanco">
      <div class="gradiant-content-full animated delay-c fadeInUp">
        <div class="text-center">
          <a href="#"><img src="images/cta-app.svg" alt=""></a>
        </div>
      </div>
      </div>


  </div><!--Page--> 

</div><!--Pages-->


