<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
  <div class="navbar-inner"><div class="left"><a href="#" class="link back"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-10"></div><span class="font-regular">Comentarios</span></a></div><div class="center sliding"></div><div class="right"><a href="#" class="link icon-only"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-08"></div></a></div></div>
</div>




<div class="pages">
  <div class="page" data-page="comentarios">

    <div class="page-content">
      <div class="inner-content-padding" id="div_comentarios">  

      </div><!--inner-content-padding-->  
    </div><!--page-content-->


  </div><!--Page--> 

</div><!--Pages-->


