<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
        </div>
        <div class="center sliding">Configuraci&#243;n</div>
        <div class="right"></div>
    </div>
</div>

<div class="pages">

    <div data-page="configuracion" class="page">

        <div class="page-content">
            <div class="content-block">

                <div class="air-user-header"></div>

                <div class="text-center">
                    <div class="img-user">
                        <figure>
                            <img class="img_perfil" id="configimgs" src="images/user-bg.svg" alt="">
                        </figure>
                        <a class="circle-link-small" href="javascript:tomarImagen();"><span class="icon-pencil"></span></a>
                    </div>
                    <div style="display:none;padding-top:10px;" id="CameraOptions">
                        <i class="icon demo-icon-4"></i>
                        <span onclick="takeFromCamera()" class="f7-icons color-red"><img src="img/camera.svg" class="imgOptions" width="40px" alt="Camera Image" /></span>
                        <span onclick="setProfilePicture()" class="f7-icons"><img src="img/gallery.svg" width="40px" alt="Gallery Image" /></span>
                    </div>
                </div>



                <div class="list-block">
                    <ul>

                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="inner-row-80 text-left">Notificaciones</div>
                                    <div class="inner-row-20 text-center">

                                        <div class="item-input">
                                            <label class="label-switch">
                                                <input type="checkbox" id="notification" onchange="javascript:setNtfcaton();">
                                                <div class="checkbox"></div>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>



                        <li>
                            <a href="javascript:InviteAFriend();" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            Invitar amigos
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="about.html" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            Términos de uso
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="about.html" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            Politicas de seguridad
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <!--<a class="various fancybox fancybox.iframe" href="http://www.youtube.com/v/8dx20UIuKUA?fs=1&amp;autoplay=1">Youtube (iframe)</a>-->

                </div>
            </div>
        </div><!--page-content-->
        <!-- Bottom Toolbar-->
        <div class="sharedDiv">
            <div class="text-center" onclick="app_f.sharewithFB( 'Descarga checkfans ahora','Sigue a tus artistas favoritos y accede a contenidos exclusivos')">
                <img src="img/facebookICo.svg" style="width:50px;" />
                <br />
                <label> facebook</label>
            </div>
        </div>

    </div><!--Page-->

</div><!--Pages-->
