<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="link icon-only open-panel font-gris"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-10"></div><span class="font-regular">CONTENIDO</span></a>
      <!-- <a href="#" class="back link"><i class="icon icon-back"></i> <span>Back</span> </a> -->
    </div>
    <div class="center sliding"></div>
    <div class="right">
       <a href="#" class="link icon-only"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-08"></div></a>
    </div>
  </div>
</div>

<div class="pages">
  <div class="page no-navbar" data-page="contenido">

    <div class="page-content muro-background-image" style="background-image: url(images/image-muro1.jpg);">
      <div class="inner-content-padding">

        <div class="muro-header">
            <a href="#" class="close-popup"><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-10"></span></a>
            <a href="#" class="bar-icon-a "><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-21-02"></span></a>
            <a href="javascript:modal_comentario(1, 1, 0);" class=" bar-icon-b"><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-15"></span></a>
            <a href="#" class="bar-icon-c"><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-06"></span></a>

           
        </div>
        
        <div class="muro-body">
            <h4>
                Buénisimos los Latin GRAMMYs!!! #LaliEnLasVegas
            </h4>
            <small>Facebook | 18 min</small>
            
            <div class="content-muro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iusto optio, fuga accusamus magnam deserunt maiores accusantium laudantium quos ducimus aspernatur voluptas provident, facere sint culpa nam ipsam hic nulla!
                
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorem aliquid sed quam molestias aspernatur animi illo a. Illo, veritatis pariatur, autem similique praesentium id hic incidunt nobis ducimus molestias!
            </div>
            <a href="javascript:cargar_pagina_comentarios(1);" class="close-popup button buttom-naranja-round button-big button-round">Ver comentarios</a>
        </div>


        
      </div><!--inner-content-padding-->  
    </div><!--page-content-->


  </div><!--Page--> 

</div><!--Pages-->


