<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<!-- Top Navbar-->
<div class="navbar navbar-transparente">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
        </div>
        <div class="center sliding">Artistas Favoritos</div>
        <div class="right">
            <a href="#" class="link  icon-only"><div class="font-gris icon-top-menu-size icon-custom-icons-22"></div></a>
        </div>
    </div>
</div>

<div class="pages">
    <div class="page no-navbar page-on-center" data-page="favoritos_artista">
        
        <div class="swiper-container swiper-init" style="height: 100%;" id="swiper-1">
            <!-- <div class="swiper-pagination swiper-pagination-v"></div> -->
            <div class="swiper-wrapper tmp1">

            </div>
        </div>
        
    </div><!--Page--> 
    
</div><!--Pages-->


