<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
<!-- Top Navbar-->

<!--<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
        </div>
        <div class="center sliding">Configuración</div>
        <div class="right"></div>
    </div>
</div>-->

<div class="pages">

    <div data-page="Feed" class="page no-navbar  page-on-center">

            <!--<div class="swiper-container swiper-init abcccc">-->
                <div class="swiper-container  abcccc" style="height: 100%;">
                    <div class="swiper-wrapper tmp" id="123">
                      
                      
     </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
    <div>
      
    </div>
         <!--page-content-->
        <!-- Bottom Toolbar-->

    <div class="disload">
        <img src="img/preloader.svg" />

    </div>
        
       

    </div><!--Page-->

</div><!--Pages-->


