<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
  <div class="navbar-inner">
    <div class="left">
       <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
    </div>
    <div class="center sliding"></div>
    <div class="right"></div>
  </div>
</div>

<div class="pages">
  <div data-page="forgotpassword" class="page ">
    
    <div class="page-content">
    
          <div class="centrar-info" style="width:100%; top:45%;">

            <div class="content-block login">
              <form action="" id="form_forget" class="form-login">
                  <input type="text" name="correo" value="" placeholder="Correo electr&oacute;nico">

              </form>
              
            </div>

          </div><!--centrar info-->


    </div><!--page-content-->

      <!-- Bottom Toolbar-->
      <div class="toolbar no-border">
        <script type="text/javascript" src="js/local_database.js"></script>
       <a href="#" class="footer-cta-full" id="btn-forget-mail">
         <span>Recuperar contrase&ntilde;a</span>
       </a>
       <!-- <button class="button button-block" ng-click="save('Hello')">
                    Save
                </button>
                <button class="button button-block" ng-click="load()">
                    Load
                </button> -->
       
      </div>
      

  </div><!--Page--> 

</div><!--Pages-->



