<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
  <div class="navbar-inner">
    <div class="left">
     <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
    </div>
    <div class="center sliding">LALI ESPOSITO</div>
    <div class="right">
       <a href="#" class="link icon-only"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-22"></div></a>
    </div>
  </div>
</div>

<div class="pages">
  <div class="page" data-page="muro">
      
    <a href="javascript:mostrar_contenido();">
    <div class="page-content background-artista">
      <div class="inner-content-padding">
      </div><!--inner-content-padding-->  
    </div><!--page-content-->
    </a>
    <!-- Bottom Toolbar-->
      <div class="toolbar no-border grandiant gradiant-naranja">
      <div class="gradiant-content tiempo-fast animated delay-b fadeInUp">
        <h4>
          Buénisimos los Latin GRAMMYs!!! #LaliEnLasVegas
        </h4>
        <small>Facebook | 18 min</small>
      </div>
      </div>
     

  </div><!--Page--> 
</div><!--Pages-->


