<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
  <div class="navbar-inner">
    <div class="left">
       <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
    </div>
    <div class="center sliding"></div>
    <div class="right"></div>
  </div>
</div>

<div class="pages">
  <div data-page="login" class="page ">
    
    <div class="page-content">
    
          <div class="centrar-info" style="width:100%; top:45%;">

            <div class="content-block login">        
              <div class="img-user">
                 <figure>
                   <img src="images/user-bg.svg" alt="">
                 </figure>
              </div>
              <form action="" id="form_login" class="form-login">
                <input type="text" name="usuario" value="" placeholder="Usuario">
                <input type="password" name="password" value="" placeholder="Password">
              </form>
                <a href="forgotpassword.html" class="btn-base "><div class="copy pforgt">Recuperar contrase&ntilde;a</div></a>
            </div>

          </div><!--centrar info-->


    </div><!--page-content-->

      <!-- Bottom Toolbar-->
      <div class="toolbar no-border">
       <a href="#" class="footer-cta-full" id="btn-login-mail">
         <span>Seguir artistas</span>
       </a>
       
      </div>
      

  </div><!--Page--> 

</div><!--Pages-->



