<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
       <a href="#" class="link icon-only open-panel font-gris"><div class="font-gris icon-top-menu-size icon-custom-icons-10"></div><span class="font-regular"></span></a>
    </div>
    <div class="center sliding text-claro">Perfil</div>
    <div class="right"></div>
  </div>
</div>

<div class="pages">
  
  <div data-page="perfil" class="page">

    <div class="page-content">

      <div class="centrar-info" style="width:100%;">
        <div class="content-block login">
    
          <div class="img-user">
             <figure>
               <img class="img_perfil" id="perfilimags" src="images/user-bg.svg" alt="">
             </figure>
          </div>

         
            <div class="text-center datos-perfil">
                <h2>
                    <small>Usuario </small>
                    <label id="perfilusername"> </label>
                </h2>
                <h2>
                    <small>Puntos</small>
                    <label id="puntosdata"> </label>
                </h2>

                <h2>
                    <small>Siguiendo</small>
                    <label id="Siguiendodata"> </label>
                </h2>

                <h2>
                    <span class="text-claro icon-top-menu-size icon-custom-icons-02"></span>
                    <label id="Stars"> </label><br>
                </h2>

            </div>

        </div><!--Content-block-->
      </div>

    </div><!--page-content-->

      <!-- Bottom Toolbar-->
      <div class="toolbar none no-border">
       <a href="javascript:cargar_pagina('configuracion');" class="button buttom-blanco-round button-big button-round">Editar perfil</a>
      </div>

  </div><!--Page--> 

</div><!--Pages-->



