<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
    <div class="navbar-inner"><div class="left"><a href="#" class="link back"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-10"></div><span class="font-regular">Comentarios</span></a></div><div class="center sliding"></div><div class="right"><a href="#" class="link icon-only"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-08"></div></a></div></div>
</div>




<div class="pages">
    <div class="page" data-page="PinchZoom">

        <div class="page-content background-artista  " >

            <!--<canvas id="mycanvas"></canvas>-->
            <div class="pinch-zoom">

                <img src="http://promozite.com/checkfans/checkfans_dci/res/media/facebook/images/1486839742.png" />
            </div>

        </div><!--page-content-->


    </div><!--Page-->

</div><!--Pages-->
