<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
    </div>
    <div class="center sliding">Artistas</div>
    <div class="right">
        <a href="#" class="link icon-only"><div class="font-gris icon-top-menu-size icon-custom-icons-21-03"></div></a>
    </div>
  </div>
</div>

<div class="pages">
  <div class="page" data-page="pre_inicio">

    <div class="page-content">

<div class="centrar-info">

  <h2 class="text-claro">
    <span class="text-claro big-icon icon-custom-icons-02"></span>
    Bienvenido
  </h2>

  <a href="login.html" class="btn-base btn-blanco"><div class="copy">Iniciar sesión</div></a>
  
  <div class="text-center">
    <hr>
  </div>

  <p class="text-claro">
    Sí aún no estas registrado, puedes hacerlo ahora.
  </p>

  <a href="registro-usuario.html" class="btn-base-small btn-blanco-line close-panel"><div class="copy">Regístrate</div></a>

</div>

     
    </div><!--page-content-->

  </div><!--Page--> 

</div><!--Pages-->


