<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

 <!-- Initialize Swiper -->


<!-- Top Navbar-->
<div class="navbar">

  <div class="navbar-inner"> 
    <div class="left">
     <a href="#" class="link icon-only open-panel font-blanco"><span class="font-blanco icon-top-menu-size icon-custom-icons-23"></span></a>
    </div>
    <div class="center sliding font-blanco">Ranking Mensual</div>
      <!-- HOLAAAAA -->
    <div class="right">
       <!--<a href="#" class="link back icon-only force-padding"><div class="font-blanco icon-top-menu-size icon-custom-icons-22"></div></a>-->
       <a href="#" class="link back icon-only force-padding"><div class="font-blanco icon-top-menu-size icon-custom-icons-06"></div></a>
    </div>
  </div>

</div>
 



<div class="pages">

    <div class="page" data-page="ranking">

        <div class="page-content" style="padding-top: 0!important;">
        </div><!--page-content-->

    </div><!--Page-->
</div><!--Pages-->