<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->
 
<!-- Top Navbar-->
<div class="navbar navbar-transparente">
    <!--<div class="navbar-inner"><div class="left"><a href="#" class="link back"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-10"></span></a></div>div class="center sliding"></div><div class="right"></div></div></div>-->
</div>
<div class="pages">
  <div data-page="registro-usuario" class="page">
    
    <div class="page-content">
    
        
    <div class="air-user-header"></div>

    <div class="text-center">
      <div class="img-user">
        <figure>
          <img id="img_registro" src="images/user-bg.svg" alt="">
        </figure>
          <a class="circle-link-small" href="javascript:nueva_imagen();"><span class="icon-pencil"></span></a>
      </div>
    </div>
    <br/><br/>

    <form action="" id="form-registro">

      <input type="text" name="nombre" value="" placeholder="Nombre">

      <input type="text" name="apellidos" value="" placeholder="Apellidos">

      <input type="mail" name="correo" value="" placeholder="Correo electrónico">

      <input class="naranja-input" type="text" name="usuario" value="" placeholder="Nombre de usuario">

      <input class="naranja-input" type="password" name="password" value="" placeholder="Contraseña">
      
      <input class="naranja-input" type="password" name="password_eco" value="" placeholder="Repetir contraseña">
      
      <input type="hidden" name="imagen" id="hidden_imagen_registro" value="0">

    </form>


    </div><!--page-content-->

      <!-- Bottom Toolbar-->
      <div class="toolbar no-border">
       <a href="javascript:finalizar_registro();" class="footer-cta-full">
         <span>Finalizar registro</span>
       </a>
      </div>

  </div><!--Page--> 

</div><!--Pages-->



