<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->


<!-- Top Navbar-->
<div class="navbar navbar-transparente">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
        </div>
        <div class="center sliding"></div>
        <div class="right">
            <a href="#" class="link icon-only"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-22"></div></a>
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="slider" class="page no-navbar">
        
        <div class="swiper-container swiper-init" style="height: 100%;" id="swiper-1" data-direction="vertical">
            <!-- <div class="swiper-pagination swiper-pagination-v"></div> -->
            <div class="swiper-wrapper">
                
                <div class="swiper-slide swipes my-sp">
                    <div class="swiper-container swiper-init" style="height: 100%;" data-direction="horizontal">
                        
                      <div class="swiper-wrapper">

                        <div class="swiper-slide bloque-1" style="">
                            <div class="box-full-artista background-artista" style="background-image: url();">

                                <div class="custom-nav-slider">
                                    <div class="left">
                                        <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
                                    </div>
                                    <div class="center sliding nombre_artista"></div>
                                    <div class="right">
                                       <a href="#" class="link back icon-only force-padding"><div class="font-gris-fuerte icon-top-menu-size icon-custom-icons-21-02"></div></a>
                                    </div>
                                </div>

                                <div class="footer-content grandiant gradiant-naranja">
                                    <div class="gradiant-content animated delay-c fadeInUp">
                                        <h4 class="texto-contenido">
                                            
                                        </h4>
                                        <small class="titulo-red"></small>
                                        <div class="icon-checkfans-flotante">
                                            <span class="icon-big font-blanco icon-custom-icons-02"> </span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>

                        
                        <div class="swiper-slide bloque-2" style="background-color:blue;">
                            
                            <div class="page-content muro-background-image" style="background-image: url(images/image-muro1.jpg);">
                              <div class="inner-content-padding">

                                <div class="muro-header">
                                    <a href="#" class="bar-icon-a "><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-21-02"></span></a>
                                    <a href="javascript:modal_comentario(1, 1, 0);" class=" bar-icon-b btn-modal-comentarios"><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-15"></span></a>
                                    <a href="#" class="bar-icon-c"><span class="sombra-icon cta-close-menu-lateral icon-custom-icons-06"></span></a>
                                </div>
                                
                                <div class="muro-body">
                                    <h4 class="texto-contenido">
                                        Buénisimos los Latin GRAMMYs!!! #LaliEnLasVegas
                                    </h4>
                                    <small class="titulo-red">Facebook | 18 min</small>
                                    
                                    <div class="content-muro">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iusto optio, fuga accusamus magnam deserunt maiores accusantium laudantium quos ducimus aspernatur voluptas provident, facere sint culpa nam ipsam hic nulla!
                                        
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorem aliquid sed quam molestias aspernatur animi illo a. Illo, veritatis pariatur, autem similique praesentium id hic incidunt nobis ducimus molestias!
                                    </div>
                                    
                                    <a href="javascript:cargar_pagina_comentarios(1);" class="close-popup button buttom-naranja-round button-big button-round btn-comentarios">Ver comentarios</a>
                                </div>
                                
                              </div><!--inner-content-padding-->  
                            </div><!--page-content-->
                            
                        </div>

                        
                      </div>
                    </div>
                    
                </div>
                
   
                
                <div class="swiper-slide slide-back-stars">
                    <div class="page-content div-nocontenido">
                        <div class="custom-nav-slider" style="background-color:transparent;">
                            <div class="left">
                                <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
                            </div>
                            <div class="center sliding"></div>
                            <div class="right">
                               
                            </div>
                        </div>
                        
                      <div class="centrar-info" style="width:90%;">
                        <div class="content-block">
                    
                          
                          <h4 class="text-claro text-center">
                            <img src="images/no-mensaje.svg" alt=""><br />
                           No hay más contenido en este instante.<br />
                            ¡Vuelve pronto a ver más publicaciones!
                          </h4>
                          

                        </div><!--Content-block-->
                      </div>

                    </div><!--page-content-->
                </div>
                
            
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        <!-- <div class="page-content"> -->
        <!--</div>page-content-->
        
    </div><!--Page--> 
</div><!--Pages-->


