<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<!-- Top Navbar-->
<div class="navbar navbar-transparente">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel font-gris-fuerte"><span class="font-gris-fuerte icon-top-menu-size icon-custom-icons-23"></span></a>
        </div>
        <div class="center sliding">Url Spotify</div>
        <div class="right">
            <a href="#" class="link  icon-only"><div class="font-gris icon-top-menu-size icon-custom-icons-22"></div></a>
        </div>
    </div>
</div>

<div class="pages">
    <div class="page" data-page="url_redirect"> 
        <div class="page-content1">
            
        	<iframe id="ifra" src="" style="width:100%; height:700px;">

        	</iframe>   
    
        </div><!--page-content-->
            </div><!--Page--> 
</div><!--Pages-->


