.imgOptions {
    border-right: 2px solid;
    padding-right: 10px;
    margin-right: 5px;
}

.sharedDiv {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 10px 18px 5px 0px #8B8484;
    border: 1px solid #c0c0c0;
    padding: 10px 0;
    background-color: white;
    z-index: 99;
}

.centerprofpic {
    text-align: center;
    height: 90%;
    min-width: 100%;
    vertical-align: top;
    top: 0;
    position: absolute;
}

.youtubcls {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 20%;
}

.disload {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 9;
    display: none;
}
div.pinch-zoom,
div.pinch-zoom img {
    width: 100%;
    -webkit-user-drag: none;
}

.page-content.background-artista {
    display: table;
    width: 100%;
    height: 100%;
}

.pinch-zoom-container {
    /*display: table-cell;*/
    padding: 0 !important;
    height: 589px !important;
    width: 100% !important;
}
/*.contenitexts{width: 18.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    -webkit-box-orient: vertical;}*/
a.fancy_video,a.fancy_FBvideo,a.fancy_instavideo
 {position: absolute;    width: 100%;      z-index: 999999;  top: 45%;}
.Postdtls {overflow-y: scroll;height: 110px;}

