


// Fuentes


@font-face {
    font-family: 'robotoblack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Black-webfont.woff') format('woff'),
         url('fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Variables

@fuente-black: 'robotoblack';
@fuente-bold: 'robotobold';
@fuente-light: 'robotolight';
@fuente-regular: 'robotoregular';

// Colores

@color-gris-fuerte: #484848;
@color-gris: #bfbfbf;
@color-gris-claro: #c7c9c9;


@color-naranja-claro: #f5a169;
@color-naranja: #ff001e;  //old version #f16950
@color-naranja-fuerte: #c5503a;

@color-amarillo: #ffb100; //old #ffe11c;

@color-claro: #ffffff;
@color-negro: #000000;

html,
body{
  margin: 0;
  padding: 0;
  font-family: @fuente-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.text-claro{
  color: @color-claro;
}


// Mixim
.degrade-naranja{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb100 0%, #ff001e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffb100 0%,#ff001e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffb100 0%,#ff001e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb100', endColorstr='#ff001e',GradientType=0 ); /* IE6-9 */
}

.degrade-naranja-lateral{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffb100 0%, #ff001e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffb100 0%,#ff001e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffb100 0%,#ff001e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb100', endColorstr='#ff001e',GradientType=1 ); /* IE6-9 */
}

.degrade-naranja-diagonal{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
background: #ffb100; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffb100 0%, #ff001e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #ffb100 0%,#ff001e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #ffb100 0%,#ff001e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb100', endColorstr='#ff001e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4a169+0,eb7956+99 */
  // background: #f4a169; /* Old browsers */
  // background: -moz-linear-gradient(top,  #f4a169 0%, #eb7956 99%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  #f4a169 0%,#eb7956 99%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  #f4a169 0%,#eb7956 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a169', endColorstr='#eb7956',GradientType=0 ); /* IE6-9 */
}

.sombra-abajo{
  -webkit-box-shadow: 0px 7px 27px -5px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 7px 27px -5px rgba(0,0,0,0.55);
  box-shadow: 0px 7px 27px -5px rgba(0,0,0,0.55);
}

.sombra-paralela{
  -webkit-box-shadow: 0px 0px 39px -5px rgba(87,87,87,1);
  -moz-box-shadow: 0px 0px 39px -5px rgba(87,87,87,1);
  box-shadow: 0px 0px 39px -5px rgba(87,87,87,1);
}

.sombra-hover{
  // -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,1);
  // -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,1);
  // box-shadow: 0px 0px 14px -4px rgba(0,0,0,1);
  -webkit-box-shadow: 0px -4px 20px -2px rgba(0,0,0,0.31);
-moz-box-shadow: 0px -4px 20px -2px rgba(0,0,0,0.31);
box-shadow: 0px -4px 20px -2px rgba(0,0,0,0.31);
}

.sombra-tenue{
-webkit-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.7);
box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.7);
}

.sombra-tenue-small{
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.24);
box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.24);
}

.sombra-naranja{
-webkit-box-shadow: 0px -1px 54px 3px rgba(181,77,58,1);
-moz-box-shadow: 0px -1px 54px 3px rgba(181,77,58,1);
box-shadow: 0px -1px 54px 3px rgba(181,77,58,1);
  // -webkit-box-shadow: 0px -16px 39px -5px rgba(194,44,17,1);
  // -moz-box-shadow: 0px -16px 39px -5px rgba(194,44,17,1);
  // box-shadow: 0px -16px 39px -5px rgba(194,44,17,1);
}

.anima-basica{
   -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.sombra-icon{
  text-shadow: 0px 2px 6px #000000;
}

.centrar-info{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}


.border-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center{
  text-align: center!important;
}

.text-right{
  text-align: right!important;
}

.text-left{
  text-align: left!important;
}

.icon-margin{
  margin-right: 6px;
}

.icon-top-menu-size{
  font-size: 28px;
}

.navbar{
  background: @color-claro;
  border: none!important;
}
// GENERALES


.circle-link-small{
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: @color-naranja;
  font-size: 24px;
  font-weight: bolder;
  color: @color-claro!important;
  text-decoration: none;
  line-height: 30px;
}


// Mini grid

div[class*="inner-row-"]{
  height: auto;
  display: inline-block;
  float: left;
  .border-box;
}
.inner-row-full{
  width: 100%;
}
.inner-row-90{
  width: 90%;
}
.inner-row-80{
  width: 80%;
}
.inner-row-70{
  width: 70%;
}
.inner-row-60{
  width: 60%;
}
.inner-row-50{
  width: 50%;
}
.inner-row-40{
  width: 40%;
}
.inner-row-30{
  width: 30%;
}
.inner-row-20{
  width:20%;
}
.inner-row-10{
  width:10%;
}

.inner-row-x3{
  width:33.333333%;
}

#master{

  .img-responsive{
    max-width: 100%;
    height: auto;
  }

  .list-block .item-inner{
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .welcomescreen-picture{
    margin-top: 0;
  }

  .welcomescreen-container{
    color: @color-claro;
  }

  .welcomescreen-text{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;

    p{
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .menu-inicio{
    .btn-base{
      float: left;
      width: 45%;
      .border-box;
      font-size: 14px;
      margin: 5px;

      .copy{
         .border-box;
         width: 100%;
         padding: 15px 0;
      }
    }

    small{
      font-size: 12px;
    }
  }

  .bloque-slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
  }

  .bloque-slider-1{
    background-image: url(../images/intro1.png);
  }

  .bloque-slider-2{
    background-image: url(../images/intro2.png);
  }

  .bloque-slider-3{
    background-image: url(../images/intro3.png);
  }


  // SidePanel

  .panel{
    background-color: @color-gris-fuerte;
  }

  .content-block{
    margin: 0 0 0 0;
    padding: 0;
  }

  // Toolbar

  .toolbar{
    height: 60px;
  }


  // Pages

  .page{
    background-color: @color-claro;
  }

  .button.buttom-naranja-round{
    border: 2px solid @color-naranja;
    background-color: @color-claro;
    color: @color-negro;
    font-family: @fuente-regular;
    .anima-basica;

    &:active{
      background-color: @color-naranja;
      color: @color-claro;
      .anima-basica;
    }
  }


 .button.buttom-blanco-round{
    border: 2px solid @color-claro;
    background-color: transparent;
    color: @color-claro;
    font-family: @fuente-regular;
    .anima-basica;

    &:active{
      background-color: @color-claro;
      color: @color-negro;
      .anima-basica;
    }
  }

  .navbar .center{
    font-size: 16px;
    font-weight: @fuente-regular;
    color: @color-gris-fuerte;
  }

  .toolbar.grandiant{
    height: 139px;
    width: 100%;
    display: table;
    padding: 0 15px;
    .border-box;
    background-position: top center;
    background-repeat: repeat-x;
    border:none!important;
  }

  

  .gradiant-content{
    // display: table-cell;
    display: block;
    width: 80%;
    // vertical-align: middle;
    position: absolute;
    bottom: 15px;
    text-align: left;
    color: @color-claro;

    h4{
      margin: 0;
      padding: 0;
    }
        small{
        font-size: 12px;
      }

      .icon-checkfans-flotante{
        position: absolute;
        right: -25px;
        bottom: 0;
      }
  }

  .gradiant-negro{
    background-color: transparent;
    background-image: url(../images/gradient-negro.png);
    background-position: center bottom;
    background-repeat: repeat-x;
  }

  .gradiant-naranja{
    background-color: transparent;
    background-image: url(../images/gradient-naranja.png);
    background-position: center bottom;
    background-repeat: repeat-x;
  }

  .gradiant-blanco{
    background-color: transparent;
    background-image: url(../images/gradient-blanco.png);
    background-position: center bottom;
    background-repeat: repeat-x;
  }

  // Custom swtch
  .label-switch input[type=checkbox]:checked+.checkbox{
    background-color: @color-naranja;
    .sombra-tenue-small;
  }

  #master .label-switch .checkbox:after{
    background:#ffffff;
  }

  #master .label-switch .checkbox:before{
    background: @color-naranja-claro;
  }


  .toolbar.grandiant-small{
    height: 69px;
    width: 100%;
    display: table;
    padding: 0 15px;
    .border-box;
    background-position: top center;
    background-repeat: repeat-x;
    border:none!important;
  }

  .gradiant-content-full{
    display: block;
    width: 100%;
    bottom: 15px;
    text-align: left;
    color: @color-claro;

    h4{
      margin: 0;
      padding: 0;
    }
        small{
        font-size: 12px;
      }

      .icon-checkfans-flotante{
        position: absolute;
        right: -25px;
        bottom: 0;
      }
  }



}//#master


//Padding de las páginas de texto

.inner-content-padding{
  padding: 0 15px;
}



// Página de comentarios

.row-comentario{
  display: block;
  width: 100%;
  .border-box;
  margin: 10px 0 20px 0;
  // border: solid 1px #F7F7F7;
  overflow: hidden;

    &::before{
      content: '';
      display: block;
      position: relative;
      height: 0px;
      clear: both;
    }

    &::after{
      content: '';
      display: block;
      position: relative;
      height: 0px;
      clear: both;
    }

  .row-header{
    display: block;
    margin-bottom: 5px;
    overflow: hidden;

    .img-user{
        display: inline-block;
        float: left;
        width: 50px;
        height: 40px;
        margin: 10px;

        figure{
          width: 40px;
          height: 40px;
          border:none;
          border-radius: 50%;
          -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
          border: solid 1px @color-claro;
          // background-image: url(../images/user-bg.svg);
          background-position: center center;
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          .sombra-tenue;

          img{
            width: 40px;
            height: 40px;
           .centrar-info;
          }
        }
    }//img-user

  }//row-header

  .name-user{
    display: inline-block;
    height: auto;
    float: left;
    font-size: 15px;
    font-family: @fuente-regular;
    color: @color-gris-fuerte;
    position: relative;
    top: 20px;
  }

  .row-body{
    display: block;
    margin: 5px 0;
    p{
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 19px;
      font-weight: @fuente-light;
      color: @color-gris-fuerte;
    }
  }//row-body

  .row-footer{
    display: block;
    margin: 10px 0 0 0;
    overflow: hidden;

    i.footer-icon{
      font-size: 25px;
      display: inline-block;
      float: left;
      margin-right: 6px;
    }

    span.dato{
      display: inline-block;
      float: left;
      width: 30px;
      font-size: 16px;
      color: @color-gris-fuerte;
    }

    a.link{
      display: inline-block;
      float: left;
      width: 30px;
      font-size: 16px;
      color: @color-gris;
      font-size: 25px;
      .anima-basica;

      &:active{
        color: @color-naranja;
        .anima-basica;
      }
    }

  }//row-footer

}//row-comentario


.force-respuesta-comentario{
  width: 85%!important;
  float: right!important;
  overflow: hidden;
  display: block;

   &::before{
      content: '';
      display: block;
      position: relative;
      height: 0px;
      clear: both;
    }

    &::after{
      content: '';
      display: block;
      position: relative;
      height: 0px;
      clear: both;
    }
}


// Imagen de Usuario

.air-user-header{
  margin-top: 50px;
}

.img-user{
    display: inline-block;
    width: auto;
    height: auto;

    figure{
      width: 80px;
      height: 80px;
      border:solid 4px @color-claro;
      .sombra-paralela;
      border-radius: 50%;
      -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
      // background-image: url(../images/user-bg.svg);
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;

      img{
        width: 90px;
        height: 90px;
        .centrar-info;
      }
    }
}//img-user

// Menú lateral

.inner-menu{
  display: block;
  text-align: left;
  .border-box;

  ul{
    padding: 0;
    margin: 0;
    display: block;

    li{
      list-style: none;
      margin: 0;
      padding:0;

      a{
        padding: 5px 15px 10px 15px;
        margin: 2px 0;
        color: @color-gris-claro;
        font-size: 14px;
        font-family: @fuente-bold;
        text-decoration: none;
        display: block;
        .border-box;
        background-color: transparent;
        .anima-basica;
        border-left: solid 3px transparent;
        transition-delay:.3s;


        &:active{
          background-color: transparent;
          .anima-basica;
          color: @color-naranja;
          border-left: solid 3px @color-naranja;
          transition-delay:.3s;

        }
      }
    }
  }

  .air-icon{
    margin: 0 8px 0 5px;
    position: relative;
    top: 5px;
    font-size: 22px;
  }
}

.cta-close-menu-lateral{
  font-size: 25px;
  color: @color-claro;
}

.force-cta-close{
  position: absolute;
  top: 10px;
  left: 10px;
}


// Login 2
.page[data-page="login"]{
  .page-content{
    background: url(../images/bg-perfil.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.login{
  text-align: center;

  .img-user{
    display: inline-block;
      width: auto;
      height: auto;


      figure{
        width: 100px;
        height: 100px;
        border:none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        // background-image: url(../images/user-bg.svg);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        .sombra-tenue;

        img{
          width: 120%;
          height: 120%;
         .centrar-info;
        }
      }
  }//img-user

  .form-login{
    display: inline-block;
    width: 80%;
    margin: 0 auto 0 auto;
    min-height: 90px;
    .border-box;

    input[type="text"], input[type="password"]{
      width: 100%;
      .border-box;
      height: 40px;
      padding: 10px;
      margin-top: 18px;
      text-align: center;
      border-top:none;
      border-left: none;
      border-right: none;
      border-bottom: solid 1px @color-gris-claro;
      font-size: 16px;
      color: @color-claro;
      font-weight: @fuente-light;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      .anima-basica;
      background-color: transparent;

      &::-webkit-input-placeholder {
          color:   @color-gris-claro;
      }
      &:-moz-placeholder {
         color:     @color-gris-claro;
         opacity:  1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:     @color-gris-claro;
         opacity:  1;
      }
      &:-ms-input-placeholder {
         color:    @color-gris-claro;
      }

      &:active, &:focus{
        border-bottom: solid 1px @color-naranja;
        .anima-basica;
      }
    }
  }

  .naranja-input{
    color: @color-naranja;

      &::-webkit-input-placeholder {
          color: @color-naranja-claro!important;
      }
      &:-moz-placeholder {
         color: @color-naranja-claro!important;
         opacity:  1;
      }
      &::-moz-placeholder {
         color: @color-naranja-claro!important;
         opacity:  1;
      }
      &:-ms-input-placeholder {
         color: @color-naranja-claro!important;
      }
  }

}//Login 2



// registro-usuario
.page[data-page="registro-usuario"]{
 
  .img-user{
     display: inline-block;
      width: auto;
      height: auto;
      position: relative;


      figure{
        width: 100px;
        height: 100px;
        border:none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        // background-image: url(../images/user-bg.svg);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        .sombra-tenue;

        img{
          width: 120%;
          height: 120%;
         .centrar-info;
        }
      }
  }//img-user

#form-registro{
    display: block;
    width: 90%;
    margin: 0 auto 0 auto;
    height: auto;
    .border-box;

    input[type="text"], input[type="mail"], input[type="password"]{
      width: 100%;
      .border-box;
      height:45px;
      padding: 10px;
      margin-top: 18px;
      text-align: left;
      border-top:none;
      border-left: none;
      border-right: none;
      border-bottom: solid 1px @color-gris-claro;
      font-size: 16px;
      color: @color-gris;
      font-weight: @fuente-light;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      .anima-basica;
      background-color: transparent;

      &::-webkit-input-placeholder {
          color:   @color-gris;
      }
      &:-moz-placeholder {
         color:     @color-gris;
         opacity:  1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:     @color-gris;
         opacity:  1;
      }
      &:-ms-input-placeholder {
         color:    @color-gris;
      }

      &:active, &:focus{
        border-bottom: solid 1px @color-naranja;
        .anima-basica;
      }
    }
  }

  .naranja-input{
    color: @color-naranja;

      &::-webkit-input-placeholder {
          color: @color-naranja-claro!important;
      }
      &:-moz-placeholder {
         color: @color-naranja-claro!important;
         opacity:  1;
      }
      &::-moz-placeholder {
         color: @color-naranja-claro!important;
         opacity:  1;
      }
      &:-ms-input-placeholder {
         color: @color-naranja-claro!important;
      }
  }



}//registro usuario




a.footer-cta-full{
  width: 100%;
  height: 100%;
  display: block;
  .border-box;
  background-color: @color-naranja;
  color: @color-claro;
  text-align: center;
  .sombra-hover;

  &:active{
    background-color: @color-naranja-fuerte;
  }

  span{
    .centrar-info;
  }
}


// Página de muro

.muro-background-image{
  width: 100%;
  height: 100%;

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  .border-box;

  .cta-close-menu-lateral:active{
    .anima-basica;
    color: @color-naranja;
  }

  .muro-header{
    position:absolute;
    top: 5px;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40px;
    .border-box;
    // border: solid 1px red;

    .close-popup{
      position: relative;
      top: 7px;
      left: 10px;
    }

    .bar-icon-a,
    .bar-icon-b,
    .bar-icon-c{
      position: absolute;
      top: 7px;
    }

    .bar-icon-c{
      right: 10px;
    }

    .bar-icon-b{
      right: 50px;
    }

    .bar-icon-a{
      right: 90px;
    }


  }

  .muro-body{
    display: block;
    width: 100%;
    height:60%;
    .border-box;
    position:absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: @color-claro;

    h4{
      margin: 0;
      padding: 0;
      font-size: 16px;
      color:@color-gris-fuerte;
      font-family: @fuente-bold;
    }

    .content-muro{
      height: 45%;
      overflow: auto;
      padding: 10px 0;
      margin-bottom: 20px;
      display: block;
    }

  }
}


// Home Artistas

.background-artista{
  background-image: url(../images/image-muro1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



// Nuevo mensaje para comentario

.modal-mensaje{
  width: 100%;
  height: 100%;
  background-color: @color-claro;
  .border-box;

   .cta-close-menu-lateral:active{
    .anima-basica;
    color: @color-naranja;
  }

  .muro-header{
    position:absolute;
    top: 5px;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40px;
    .border-box;
    // border: solid 1px red;

    .close-popup{
      position: relative;
      top: 7px;
      left: 10px;
    }

    .bar-icon-a,
    .bar-icon-b,
    .bar-icon-c{
      position: absolute;
      top: 7px;
    }

    .bar-icon-c{
      right: 10px;
    }

    .bar-icon-b{
      right: 50px;
    }

    .bar-icon-a{
      right: 90px;
    }


  }

  .muro-body{
    display: block;
    width: 100%;
    height:80%;
    .border-box;
    position:absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: @color-claro;

    h1{
      margin: 0;
      padding: 0;
      font-size: 90px;
      color:@color-gris-fuerte;
    }

    p{
      font-size: 16px;
    }

    .content-add-mensaje{
      height: auto;
      padding: 10px 0;
      margin-bottom: 20px;
      display: block;
      .border-box;

      textarea{
        width: 100%;
        .border-box;
        height: 20%;
        border:solid 1px @color-gris;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius:4px;
        resize: none;
      }
    }

  }


}//modal-mensaje


.box-full-artista{

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  .border-box;
  position: relative;
  overflow: hidden;
  padding: 0;

  .footer-content{
    width: 100%;
    .border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 138px;
    padding: 10px 20px;
  }
}


// Ranking header

.header-ranking{
  .degrade-naranja-lateral;
  height: 200px;
}

.force-padding{
  padding: 0!important;
  margin: 0!important;
  min-width: 30px!important;
}


.view[data-page="ranking"] .navbar {
  // background:transparent;
   .degrade-naranja-lateral;
}

.bg-custom-color{
  background-color: #7FF508!important;
}

.page[data-page="ranking"]{
  .page-content{
    padding-bottom: 90px;
  }
}




.view[data-page="configuracion"]{

  .img-user{
     display: inline-block;
      width: auto;
      height: auto;
      position: relative;


      figure{
        width: 100px;
        height: 100px;
        border:none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        // background-image: url(../images/user-bg.svg);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        .sombra-tenue;

        img{
          width: 120%;
          height: 120%;
         .centrar-info;
        }
      }
  }//img-user
}


.swiper-wrapper.custom-wrapper{
  text-align: center;
  margin-top: 25px;
}
.swiper-slide.custom-slide {
  background: transparent;
  box-sizing: border-box;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;

  p{
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-family: @fuente-bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


    .img-user{
        display: inline-block;
        width: auto;
        height: auto;

        figure{
          width: 75px;
          height: 75px;
          border:none;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          // background-image: url(../images/user-bg.svg);
          background-position: center center;
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          .sombra-tenue;

          img{
            width: 85px;
            height: 85px;
           .centrar-info;
          }
        }
    }//img-user

} //swiper-slide.custom-slide

// .swiper-container {
//   height: 140px;
//   margin: 20px 0 0 0;
// }


// VARIABLE
.bloque-inner-row{
  display: table-cell;
  vertical-align: middle;
}


.ranking-row-destacado{
  display: table;
  background-color: @color-naranja;
  height: 80px;
  width: 100%;
  .sombra-naranja;
  color: @color-claro;

  .posicion{
   .bloque-inner-row;
    width: 45px;
    text-align: center;
    color: @color-claro;
    font-size: 30px;
    font-family: @fuente-regular;
  }

  .img-user{
        .bloque-inner-row;
        width: 60px;
        position: relative;


        figure{
          width: 50px;
          height: 50px;
          border:none;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          // background-image: url(../images/user-bg.svg);
          background-position: center center;
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          .sombra-tenue-small;

          img{
            width: 55px;
            height: 55px;
           .centrar-info;
          }
        }
    }//img-user

    .name-user{
        .bloque-inner-row;
        width: 30%;
        position: relative;
        font-family: @fuente-regular;
    }

    .puntos{
        .bloque-inner-row;
        width: 20%;
        position: relative;
        margin:0 3px;
        font-family: @fuente-black;
    }

    .acumulados{
        .bloque-inner-row;
        width: auto;
        position: relative;

        img{
          max-width:80%;
        }
    }

}//ranking-row-destacado


.ranking-row-general{
  display: table;
  background-color: @color-claro;
  border:solid 1px #F8F8F8;
  border-radius: 6px;
  height: 80px;
  width: 94%;
  .sombra-abajo;
  color: @color-gris;
  margin: 10px auto;
  text-align: center;

  .posicion{
    .bloque-inner-row;
    position: relative;
    width: 45px;
    text-align: center;
    color: @color-naranja;
    font-size: 30px;
    font-family: @fuente-regular;
  }

  .img-user{
        .bloque-inner-row;
        width: 60px;
        position: relative;

        figure{
          width: 50px;
          height: 50px;
          border:none;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border: solid 1px @color-gris-claro;
          // background-image: url(../images/user-bg.svg);
          background-position: center center;
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          .sombra-tenue-small;

          img{
            width: 55px;
            height: 55px;
           .centrar-info;
          }
        }
    }//img-user

    .name-user{
        .bloque-inner-row;
        width: 30%;
        position: relative;
        font-family: @fuente-regular;
        // text-overflow:ellipsis;
        // white-space:nowrap;
        // overflow:hidden;
    }

    .puntos{
        .bloque-inner-row;
        width: 20%;
        position: relative;
        margin:0 3px;
        font-family: @fuente-black;
    }

    .acumulados{
        .bloque-inner-row;
        width: auto;
        position: relative;

        i{
          display: block;
          text-align: center;
          font-size: 20px;
        }

        small{
          font-family: @fuente-black;
          color: @color-gris-fuerte;
        }
    }

} //ranking-row-general


// Perfil

.page[data-page="perfil"]{
  .page-content{
    background: url(../images/bg-perfil.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.view[data-page="perfil"] .navbar {
  background:transparent;
}

.page[data-page="perfil"]{
  .toolbar.none{
    background-color: transparent;
    padding: 0 15px;
  }
}

.datos-perfil{

  display: block;
  text-align: center;
  margin-top: 40px;

  h2{
    display: block;
    text-align: center;
    font-size: 25px;
    color: @color-claro;
    font-family: @fuente-bold;
    margin: 10px;

     small{
      display: block;
      text-align: center;
      color: @color-claro;
      font-family: @fuente-light;
      margin-top: 5px;
      font-size: 14px;
     }
  }

}


.toolbar.none{
  background-color: @color-claro;
  padding: 0 15px;
}

.toolbar.transparente{
  background-color: transparent!important;
  padding: 0 15px;
}

.small-text-footer{
  font-size: 14px;
  position: absolute;
  bottom: 15px;
}

.toolbar.ranking{
    height: 80px!important;
    width: 100%;
    display: block;
    padding: 0;
    .border-box;
    border:none!important;
    font-size: 14px;

    .ranking-row-destacado{
      background-color: @color-gris-fuerte;
      box-shadow: none!important;

        .acumulados{
          display: inline-block;
          width: auto;
          position: relative;
          float: left;
          top: 23px;
          left: 12px;

          i{
            display: block;
            text-align: center;
            font-size: 20px;
          }

          small{
            font-family: @fuente-black;
            color: @color-claro;
          }
      }

    }
  }



// Pre Inicio
.view[data-page="pre_inicio"]{

  .page-content{
    .degrade-naranja-diagonal;
  }

  .navbar {
    display: none;
  }

  .toolbar-through .page-content{
    padding-bottom: 0;
  }

  .navbar-through .page-content{
    padding-top: 0;
  }

  .centrar-info{
    width: 90%;
    text-align: center;
  }

  hr{
    display: block;
    width: 90%;
    border:none;
    height: 1px;
    background-color: @color-claro;
    margin: 20px auto;

  }
}



// Seleccion Artista

.box-artista{
  display: inline-block;
  float: left;
  width: 50%;
  .border-box;
  height: 40%;
  background-color: @color-naranja;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid 1px #EFEFEF;

  .footer{
    width: 100%;
    .border-box;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: @color-gris;
    color: @color-claro;
    padding: 8px 6px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    text-transform: uppercase;
    font-family: @fuente-bold;
    .anima-basica;

    &:active,&:focus{
      background-color: @color-naranja;
      .anima-basica;
    }
  }

  .item-active{
    background-color: @color-naranja;
  }


}//box-artista


// lista de artistas

.lista_artistas{
  display: block;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      li{
        height: auto;
        overflow: hidden;
        list-style: none;
        display: block;
        background-color: @color-claro;
        border-bottom: solid 1px @color-gris;
        padding: 18px 15px;
         .anima-basica;


        &:active{
          background-color: @color-naranja-claro;
          .anima-basica;
          transition-delay:.2s;
        }

        .img-user{
              display: inline-block;
              width: 60px;
              float: left;


              figure{
                width: 45px;
                height: 45px;
                border:none;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border: solid 1px @color-gris-claro;
                // background-image: url(../images/user-bg.svg);
                background-position: center center;
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
                overflow: hidden;
                position: relative;
                .sombra-tenue-small;

                img{
                  width: 65px;
                  height: 65px;
                 .centrar-info;
                }
              }
          }//img-user

          .name-user{
              display: inline-block;
              width: auto;
              float: left;
              font-family: @fuente-regular;
              position: relative;
              top: 5px;

              p{
                padding: 0;
                margin: 0;
                font-size: 18px;
                font-family: @fuente-bold;
              }

              small{
                position: relative;
                top: -5px;
                font-size: 10px;
              }


          }

          


      }//li
    }//ul
}


.lista_alertas ul li .name-user{
  top: 12px!important;
}

.lista_alertas{

  .activar-alerta{
     display: inline-block;
     float: right;
     width: 50px;
     height: 100%;
     font-size: 25px;

     a{
      display: inline-block;
      position: relative;
      top: 9px;
      width: 25px;
      height: 30px;

      .active{
        color: @color-naranja!important;
      }
     }
  }
}



.page[data-page="mensaje-texto"]{
  .page-content{
    background: url(../images/bg-perfil.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}


.view[data-page="no-contenido"] .navbar {
  background:transparent;
}
.page[data-page="no-contenido"]{
  .page-content{
    background: url(../images/bg-perfil.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.page[data-page="seleccion_artista"]{
  .page-content{
   padding-bottom: 60px;
  }
}


.slide-back-stars{
  background: url(../images/bg-perfil.png);
  background-position: center center;
  background-repeat: no-repeat;
}


// Custom Slide NAV BAR

.custom-nav-slider{
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    padding: 0 8px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: @color-claro;
    font-size: 16px;
}

/*Botones*/

@tiempo-presion:.2s;
.btn-base{
  margin: 20px 0;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow @tiempo-presion ease-in-out;
  -moz-transition: -moz-box-shadow @tiempo-presion ease-in-out;
  -o-transition: -o-box-shadow @tiempo-presion ease-in-out;
  transition: box-shadow @tiempo-presion ease-in-out;

  .copy{
    display: inline-block;
    padding: 15px  25px;
    font-family: @fuente-regular;
    line-height: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform @tiempo-presion ease-in-out;
    -moz-transition: -moz-transform @tiempo-presion ease-in-out;
    -o-transition: -o-transform @tiempo-presion ease-in-out;
    transition: transform @tiempo-presion ease-in-out;
  }
}

.btn-base:active .copy {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}


.btn-base-small{
  margin: 10px 0;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow @tiempo-presion ease-in-out;
  -moz-transition: -moz-box-shadow @tiempo-presion ease-in-out;
  -o-transition: -o-box-shadow @tiempo-presion ease-in-out;
  transition: box-shadow @tiempo-presion ease-in-out;

  .copy{
    display: inline-block;
    padding: 8px  25px;
    font-family: @fuente-regular;
    line-height: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform @tiempo-presion ease-in-out;
    -moz-transition: -moz-transform @tiempo-presion ease-in-out;
    -o-transition: -o-transform @tiempo-presion ease-in-out;
    transition: transform @tiempo-presion ease-in-out;
  }
}

.btn-base-small:active .copy {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}



@pixel-animacion: 5px;

.btn-blanco {
  -webkit-box-shadow: 0 @pixel-animacion 0 @color-gris-claro;
  -moz-box-shadow: 0 @pixel-animacion 0 @color-gris-claro;
  box-shadow:0 @pixel-animacion 0 @color-gris-claro;

  .copy{
     background: @color-claro;
     color: @color-negro;
  }
}

.btn-blanco:active {
  -webkit-box-shadow: 0 @pixel-animacion 0 @color-gris-claro;
  -moz-box-shadow: 0 @pixel-animacion 0 @color-gris-claro;
  box-shadow: 0 @pixel-animacion 0 @color-gris-claro;
}


.btn-blanco-line {
  -webkit-box-shadow: 0 @pixel-animacion 0 @color-claro;
  -moz-box-shadow: 0 @pixel-animacion 0 @color-claro;
  box-shadow:0 @pixel-animacion 0 @color-claro;

  .copy{
     background: transparent;
     border:solid 1px @color-claro;
     color: @color-claro;
  }
}

.btn-blanco-line:active {
  -webkit-box-shadow: 0 @pixel-animacion 0 @color-claro;
  -moz-box-shadow: 0 @pixel-animacion 0 @color-claro;
  box-shadow: 0 @pixel-animacion 0 @color-claro;
}

.big-icon{
  font-size: 50px;
}


/*Fonts*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hv2ysa');
  src:  url('fonts/icomoon.eot?hv2ysa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hv2ysa') format('truetype'),
    url('fonts/icomoon.woff?hv2ysa') format('woff'),
    url('fonts/icomoon.svg?hv2ysa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-custom-icons-20:before {
  content: "\e900";
}
.icon-custom-icons-21:before {
  content: "\e901";
}
.icon-custom-icons-22:before {
  content: "\e902";
}
.icon-custom-icons-23:before {
  content: "\e903";
}
.icon-custom-icons-24:before {
  content: "\e917";
}
.icon-custom-icons-11:before {
  content: "\e904";
}
.icon-custom-icons-12:before {
  content: "\e905";
}
.icon-custom-icons-13:before {
  content: "\e906";
}
.icon-custom-icons-14:before {
  content: "\e907";
}
.icon-custom-icons-15:before {
  content: "\e908";
}
.icon-custom-icons-16:before {
  content: "\e909";
}
.icon-custom-icons-17:before {
  content: "\e90a";
}
.icon-custom-icons-18:before {
  content: "\e90b";
}
.icon-custom-icons-19:before {
  content: "\e90c";
}
.icon-custom-icons-02:before {
  content: "\e90d";
}
.icon-custom-icons-03:before {
  content: "\e90e";
}
.icon-custom-icons-04:before {
  content: "\e90f";
}
.icon-custom-icons-05:before {
  content: "\e910";
}
.icon-custom-icons-06:before {
  content: "\e911";
}
.icon-custom-icons-07:before {
  content: "\e912";
}
.icon-custom-icons-08:before {
  content: "\e913";
}
.icon-custom-icons-09:before {
  content: "\e914";
}
.icon-custom-icons-10:before {
  content: "\e915";
}
.icon-custom-icons-01:before {
  content: "\e916";
}
.icon-custom-icons-24:before {
  content: "\e917";
}
.icon-custom-icons-21-02:before {
  content: "\e918";
}
.icon-custom-icons-21-01:before {
  content: "\e919";
}
.icon-custom-icons-21-04:before {
  content: "\e91a";
}
.icon-custom-icons-21-03:before {
  content: "\e91b";
}
.icon-pencil:before {
  content: "\e91c";
}
.icon-bell:before {
  content: "\e91d";
}
.icon-ok-1:before {
  content: "\e91e";
}
.icon-ok-2:before {
  content: "\e91f";
}

.font-black{
  font-family: @fuente-black;
}

.font-bold{
  font-family: @fuente-bold;
}

.font-light{
  font-family: @fuente-light;
}

.font-regular{
  font-family: @fuente-regular;
}

.text-claro{
  color: @color-claro!important;
}

.font-gris{
  color: @color-gris!important;
}

.font-gris-fuerte{
  color: #AAAAAA!important;
}

.font-blanco{
  color: @color-claro!important;
}

.font-naranja{
  color: @color-naranja!important;
}

.icon-big{
  font-size: 35px;
}


@tiempo-a: .3s;
.delay-a {
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-delay: @tiempo-a;
  -moz-animation-delay: @tiempo-a;
  animation-delay: @tiempo-a;
}


@tiempo-b: .4s;
.delay-b {
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-delay: @tiempo-b;
  -moz-animation-delay: @tiempo-b;
  animation-delay: @tiempo-b;
}

@tiempo-c: .5s;
.delay-c {
  -webkit-animation-duration: .3s!important;
  -moz-animation-duration: .3s!important;
  animation-duration: .3s!important;
  -webkit-animation-delay: @tiempo-c;
  -moz-animation-delay: @tiempo-c;
  animation-delay: @tiempo-c;
}
