@font-face {
  font-family: 'robotoblack';
  src: url('fonts/Roboto-Black-webfont.eot');
  src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Black-webfont.woff') format('woff'), url('fonts/Roboto-Black-webfont.ttf') format('truetype'), url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('fonts/Roboto-Bold-webfont.eot');
  src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('fonts/Roboto-Light-webfont.eot');
  src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('fonts/Roboto-Regular-webfont.eot');
  src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'robotolight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-claro {
  color: #ffffff;
}
.degrade-naranja {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffb100 0%, #ff001e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffb100 0%, #ff001e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffb100 0%, #ff001e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb100', endColorstr='#ff001e', GradientType=0);
  /* IE6-9 */
}
.degrade-naranja-lateral {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffb100 0%, #ff001e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffb100 0%, #ff001e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffb100 0%, #ff001e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb100', endColorstr='#ff001e', GradientType=1);
  /* IE6-9 */
}
.degrade-naranja-diagonal {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffb100 0%, #ff001e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffb100 0%, #ff001e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffb100 0%, #ff001e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb100', endColorstr='#ff001e', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.sombra-abajo {
  -webkit-box-shadow: 0px 7px 27px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 7px 27px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 7px 27px -5px rgba(0, 0, 0, 0.55);
}
.sombra-paralela {
  -webkit-box-shadow: 0px 0px 39px -5px #575757;
  -moz-box-shadow: 0px 0px 39px -5px #575757;
  box-shadow: 0px 0px 39px -5px #575757;
}
.sombra-hover {
  -webkit-box-shadow: 0px -4px 20px -2px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px -4px 20px -2px rgba(0, 0, 0, 0.31);
  box-shadow: 0px -4px 20px -2px rgba(0, 0, 0, 0.31);
}
.sombra-tenue {
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
}
.sombra-tenue-small {
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
}
.sombra-naranja {
  -webkit-box-shadow: 0px -1px 54px 3px #b54d3a;
  -moz-box-shadow: 0px -1px 54px 3px #b54d3a;
  box-shadow: 0px -1px 54px 3px #b54d3a;
}
.anima-basica {
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.sombra-icon {
  text-shadow: 0px 2px 6px #000000;
}
.centrar-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
.icon-margin {
  margin-right: 6px;
}
.icon-top-menu-size {
  font-size: 38px;
}
.navbar {
  background: #ffffff;
  border: none!important;
}
.circle-link-small {
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff001e;
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff !important;
  text-decoration: none;
  line-height: 30px;
}
div[class*="inner-row-"] {
  height: auto;
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inner-row-full {
  width: 100%;
}
.inner-row-90 {
  width: 90%;
}
.inner-row-80 {
  width: 80%;
}
.inner-row-70 {
  width: 70%;
}
.inner-row-60 {
  width: 60%;
}
.inner-row-50 {
  width: 50%;
}
.inner-row-40 {
  width: 40%;
}
.inner-row-30 {
  width: 30%;
}
.inner-row-20 {
  width: 20%;
}
.inner-row-10 {
  width: 10%;
}
.inner-row-x3 {
  width: 33.333333%;
}
#master .img-responsive {
  max-width: 100%;
  height: auto;
}
#master .list-block .item-inner {
  padding-top: 15px;
  padding-bottom: 17px;
}
#master .welcomescreen-picture {
  margin-top: 0;
}
#master .welcomescreen-container {
  color: #ffffff;
}
#master .welcomescreen-text {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
}
#master .welcomescreen-text p {
  font-size: 14px;
  margin: 5px 0;
}
#master .menu-inicio .btn-base {
  float: left;
  width: 45%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  margin: 5px;
}
#master .menu-inicio .btn-base .copy {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
}
#master .menu-inicio small {
  font-size: 12px;
}
#master .bloque-slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#master .bloque-slider-1 {
  background-image: url(../images/intro1.png);
}
#master .bloque-slider-2 {
  background-image: url(../images/intro2.png);
}
#master .bloque-slider-3 {
  background-image: url(../images/intro3.png);
}
#master .panel {
  background-color: #484848;
}
#master .content-block {
  margin: 0 0 0 0;
  padding: 0;
}
#master .toolbar {
  height: 60px;
}
#master .page {
  background-color: #ffffff;
}
#master .button.buttom-naranja-round {
  border: 2px solid #ff001e;
  background-color: #ffffff;
  color: #000000;
  font-family: 'robotoregular';
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
#master .button.buttom-naranja-round:active {
  background-color: #ff001e;
  color: #ffffff;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
#master .button.buttom-blanco-round {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: 'robotoregular';
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
#master .button.buttom-blanco-round:active {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
#master .navbar .center {
  font-size: 16px;
  font-weight: 'robotoregular';
  color: #484848;
}
#master .toolbar.grandiant {
  height: 139px;
  width: 100%;
  display: table;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: top center;
  background-repeat: repeat-x;
  border: none!important;
}
#master .gradiant-content {
  display: block;
  width: 80%;
  position: absolute;
  bottom: 15px;
  text-align: left;
  color: #ffffff;
}
#master .gradiant-content h4 {
  margin: 0;
  padding: 0;
}
#master .gradiant-content small {
  font-size: 12px;
}
#master .gradiant-content .icon-checkfans-flotante {
  position: absolute;
  right: -25px;
  bottom: 0;
}
#master .gradiant-negro {
  background-color: transparent;
  background-image: url(../images/gradient-negro.png);
  background-position: center bottom;
  background-repeat: repeat-x;
}
#master .gradiant-naranja {
  background-color: transparent;
  background-image: url(../images/gradient-naranja.png);
  background-position: center bottom;
  background-repeat: repeat-x;
}
 
#master .gradiant-naranja1{
  background-position: center bottom;
  background-repeat: inherit;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgb(0, 0, 0));
  background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(0, 0, 0));
  background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(0, 0, 0));
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0));
}
#master .gradiant-blanco {
  background-color: transparent;
  background-image: url(../images/gradient-blanco.png);
  background-position: center bottom;
  background-repeat: repeat-x;
}
#master .label-switch input[type=checkbox]:checked + .checkbox {
  background-color: #ff001e;
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
}
#master #master .label-switch .checkbox:after {
  background: #ffffff;
}
#master #master .label-switch .checkbox:before {
  background: #f5a169;
}
#master .toolbar.grandiant-small {
  height: 69px;
  width: 100%;
  display: table;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: top center;
  background-repeat: repeat-x;
  border: none!important;
}
.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  
  background-size: contain;
  
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }
#master .gradiant-content-full {
  display: block;
  width: 100%;
  bottom: 15px;
  text-align: left;
  color: #ffffff;
}
#master .gradiant-content-full h4 {
  margin: 0;
  padding: 0;
}
#master .gradiant-content-full small {
  font-size: 12px;
}
#master .gradiant-content-full .icon-checkfans-flotante {
  position: absolute;
  right: -25px;
  bottom: 0;
}
.inner-content-padding {
  padding: 0 15px;
}
.tag-icon:before {
    content: "";
    background: url(../img/fav_menu.png);
    height: 24px;
    width: 19px;
    position: absolute;
    background-repeat: no-repeat;
    left: 2px;
}

.tag-icon {
    margin-right: 30px !important;
}

.row-comentario {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0 20px 0;
  overflow: hidden;
}
.row-comentario::before {
  content: '';
  display: block;
  position: relative;
  height: 0px;
  clear: both;
}
.row-comentario::after {
  content: '';
  display: block;
  position: relative;
  height: 0px;
  clear: both;
}
.row-comentario .row-header {
  display: block;
  margin-bottom: 5px;
  overflow: hidden;
}
.row-comentario .row-header .img-user {
  display: inline-block;
  float: left;
  width: 50px;
  height: 40px;
  margin: 10px;
}
.row-comentario .row-header .img-user figure {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: solid 1px #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
}
.row-comentario .row-header .img-user figure img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.row-comentario .name-user {
  display: inline-block;
  height: auto;
  float: left;
  font-size: 15px;
  font-family: 'robotoregular';
  color: #484848;
  position: relative;
  top: 20px;
}
.row-comentario .row-body {
  display: block;
  margin: 5px 0;
}
.row-comentario .row-body p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 'robotolight';
  color: #484848;
}
.row-comentario .row-footer {
  display: block;
  margin: 10px 0 0 0;
  overflow: hidden;
}
.row-comentario .row-footer i.footer-icon {
  font-size: 25px;
  display: inline-block;
  float: left;
  margin-right: 6px;
}
.row-comentario .row-footer span.dato {
  display: inline-block;
  float: left;
  width: 30px;
  font-size: 16px;
  color: #484848;
}
.row-comentario .row-footer a.link {
  display: inline-block;
  float: left;
  width: 30px;
  font-size: 16px;
  color: #bfbfbf;
  font-size: 25px;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.row-comentario .row-footer a.link:active {
  color: #ff001e;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.force-respuesta-comentario {
  width: 85%!important;
  float: right!important;
  overflow: hidden;
  display: block;
}
.force-respuesta-comentario::before {
  content: '';
  display: block;
  position: relative;
  height: 0px;
  clear: both;
}
.force-respuesta-comentario::after {
  content: '';
  display: block;
  position: relative;
  height: 0px;
  clear: both;
}
.air-user-header {
  margin-top: 50px;
}
.img-user {
  display: inline-block;
  width: auto;
  height: auto;
}
.img-user figure {
  width: 80px;
  height: 80px;
  border: solid 4px #ffffff;
  -webkit-box-shadow: 0px 0px 39px -5px #575757;
  -moz-box-shadow: 0px 0px 39px -5px #575757;
  box-shadow: 0px 0px 39px -5px #575757;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.img-user figure img {
  width: 100%;
  /*height: 90px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inner-menu {
  display: block;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inner-menu ul {
  padding: 0;
  margin: 0;
  display: block;
}
.inner-menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner-menu ul li a {
  padding: 5px 15px 10px 15px;
  margin: 2px 0;
  color: #c7c9c9;
  font-size: 14px;
  font-family: 'robotobold';
  text-decoration: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  border-left: solid 3px transparent;
  transition-delay: .3s;
}
.inner-menu ul li a:active {
  background-color: transparent;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  color: #ff001e;
  border-left: solid 3px #ff001e;
  transition-delay: .3s;
}
.inner-menu .air-icon {
  margin: 0 8px 0 5px;
  position: relative;
  top: 5px;
  font-size: 22px;
}
.cta-close-menu-lateral {
  font-size: 25px;
  color: #ffffff;
}
.force-cta-close {
  position: absolute;
  top: 10px;
  left: 10px;
}
.page[data-page="login"] .page-content, .page[data-page="forgotpassword"] .page-content {
  background: url(../images/bg-perfil.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.login {
  text-align: center;
}
.login .img-user {
  display: inline-block;
  width: auto;
  height: auto;
}
.login .img-user figure {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
}
.login .img-user figure img {
  width: 100%;
  /*height: 120%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login .form-login {
  display: inline-block;
  width: 80%;
  margin: 0 auto 0 auto;
  min-height: 90px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login .form-login input[type="text"],
.login .form-login input[type="password"] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  margin-top: 18px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #c7c9c9;
  font-size: 16px;
  color: #ffffff;
  font-weight: 'robotolight';
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  background-color: transparent;
}
.login .form-login input[type="text"]::-webkit-input-placeholder,
.login .form-login input[type="password"]::-webkit-input-placeholder {
  color: #c7c9c9;
}
.login .form-login input[type="text"]:-moz-placeholder,
.login .form-login input[type="password"]:-moz-placeholder {
  color: #c7c9c9;
  opacity: 1;
}
.login .form-login input[type="text"]::-moz-placeholder,
.login .form-login input[type="password"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c7c9c9;
  opacity: 1;
}
.login .form-login input[type="text"]:-ms-input-placeholder,
.login .form-login input[type="password"]:-ms-input-placeholder {
  color: #c7c9c9;
}
.login .form-login input[type="text"]:active,
.login .form-login input[type="password"]:active,
.login .form-login input[type="text"]:focus,
.login .form-login input[type="password"]:focus {
  border-bottom: solid 1px #ff001e;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.login .naranja-input {
  color: #ff001e;
}
.login .naranja-input::-webkit-input-placeholder {
  color: #f5a169 !important;
}
.login .naranja-input:-moz-placeholder {
  color: #f5a169 !important;
  opacity: 1;
}
.login .naranja-input::-moz-placeholder {
  color: #f5a169 !important;
  opacity: 1;
}
.login .naranja-input:-ms-input-placeholder {
  color: #f5a169 !important;
}
.page[data-page="registro-usuario"] .img-user {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
}
.page[data-page="registro-usuario"] .img-user figure {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
}
.page[data-page="registro-usuario"] .img-user figure img {
  width: 120%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page[data-page="registro-usuario"] #form-registro {
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page[data-page="registro-usuario"] #form-registro input[type="text"],
.page[data-page="registro-usuario"] #form-registro input[type="mail"],
.page[data-page="registro-usuario"] #form-registro input[type="password"] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  padding: 10px;
  margin-top: 18px;
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #c7c9c9;
  font-size: 16px;
  color: #bfbfbf;
  font-weight: 'robotolight';
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  background-color: transparent;
}
.page[data-page="registro-usuario"] #form-registro input[type="text"]::-webkit-input-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="mail"]::-webkit-input-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="password"]::-webkit-input-placeholder {
  color: #bfbfbf;
}
.page[data-page="registro-usuario"] #form-registro input[type="text"]:-moz-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="mail"]:-moz-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="password"]:-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.page[data-page="registro-usuario"] #form-registro input[type="text"]::-moz-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="mail"]::-moz-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="password"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bfbfbf;
  opacity: 1;
}
.page[data-page="registro-usuario"] #form-registro input[type="text"]:-ms-input-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="mail"]:-ms-input-placeholder,
.page[data-page="registro-usuario"] #form-registro input[type="password"]:-ms-input-placeholder {
  color: #bfbfbf;
}
.page[data-page="registro-usuario"] #form-registro input[type="text"]:active,
.page[data-page="registro-usuario"] #form-registro input[type="mail"]:active,
.page[data-page="registro-usuario"] #form-registro input[type="password"]:active,
.page[data-page="registro-usuario"] #form-registro input[type="text"]:focus,
.page[data-page="registro-usuario"] #form-registro input[type="mail"]:focus,
.page[data-page="registro-usuario"] #form-registro input[type="password"]:focus {
  border-bottom: solid 1px #ff001e;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.page[data-page="registro-usuario"] .naranja-input {
  color: #ff001e;
}
.page[data-page="registro-usuario"] .naranja-input::-webkit-input-placeholder {
  color: #f5a169 !important;
}
.page[data-page="registro-usuario"] .naranja-input:-moz-placeholder {
  color: #f5a169 !important;
  opacity: 1;
}
.page[data-page="registro-usuario"] .naranja-input::-moz-placeholder {
  color: #f5a169 !important;
  opacity: 1;
}
.page[data-page="registro-usuario"] .naranja-input:-ms-input-placeholder {
  color: #f5a169 !important;
}
a.footer-cta-full {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ff001e;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px -4px 20px -2px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px -4px 20px -2px rgba(0, 0, 0, 0.31);
  box-shadow: 0px -4px 20px -2px rgba(0, 0, 0, 0.31);
}
a.footer-cta-full:active {
  background-color: #c5503a;
}
a.footer-cta-full span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.muro-background-image {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.muro-background-image .cta-close-menu-lateral:active {
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  color: #ff001e;
}
.muro-background-image .muro-header {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.muro-background-image .muro-header .close-popup {
  position: relative;
  top: 7px;
  left: 10px;
}
.muro-background-image .muro-header .bar-icon-a,
.muro-background-image .muro-header .bar-icon-b,
.muro-background-image .muro-header .bar-icon-c {
  position: absolute;
  top: 7px;
}
.muro-background-image .muro-header .bar-icon-c {
  right: 10px;
}
.muro-background-image .muro-header .bar-icon-b {
  right: 50px;
}
.muro-background-image .muro-header .bar-icon-a {
  right: 80px;
}
.muro-background-image .muro-body {
  display: block;
  width: 100%;
  height: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #ffffff;
}
.muro-background-image .muro-body h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #484848;
  font-family: 'robotobold';
}
.muro-background-image .muro-body .content-muro {
  /*height: 45%;*/
  overflow: auto;
  padding: 10px 0;
  margin-bottom: 20px;
  display: block;
}
.heart-blank-w {
    background-image: url(../img/heart-blank-w.png);
    width: 30px;
    height: 34px;
    background-repeat:no-repeat;background-position-y: -3px;
}
.heart-blank {
    background-image: url(../img/heart-blank.png);
    width: 25px;
    height: 34px;
    background-repeat:no-repeat;
}
.heart-fill {
    background-image: url(../img/heart-fill.png);
    width: 25px;
    height: 34px; background-repeat:no-repeat;
        
}
.font-gris-fuerte_feed {
    color: #AAAAAA!important;
}
.background-artista {
  background-image: url(../images/no_image_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-mensaje {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-mensaje .cta-close-menu-lateral:active {
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  color: #ff001e;
}
.modal-mensaje .muro-header {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-mensaje .muro-header .close-popup {
  position: relative;
  top: 7px;
  left: 10px;
}
.modal-mensaje .muro-header .bar-icon-a,
.modal-mensaje .muro-header .bar-icon-b,
.modal-mensaje .muro-header .bar-icon-c {
  position: absolute;
  top: 7px;
}
.modal-mensaje .muro-header .bar-icon-c {
  right: 10px;
}
.modal-mensaje .muro-header .bar-icon-b {
  right: 50px;
}
.modal-mensaje .muro-header .bar-icon-a {
  right: 90px;
}
.modal-mensaje .muro-body {
  display: block;
  width: 100%;
  height: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #ffffff;
}
.modal-mensaje .muro-body h1 {
  margin: 0;
  padding: 0;
  font-size: 90px;
  color: #484848;
}
.modal-mensaje .muro-body p {
  font-size: 16px;
}
.modal-mensaje .muro-body .content-add-mensaje {
  height: auto;
  padding: 10px 0;
  margin-bottom: 20px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-mensaje .muro-body .content-add-mensaje textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 20%;
  border: solid 1px #bfbfbf;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  resize: none;
}
.box-full-artista {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.box-full-artista .footer-content {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 138px;
  padding: 10px 20px;
}
.header-ranking {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffb100 0%, #ff001e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffb100 0%, #ff001e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffb100 0%, #ff001e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb100', endColorstr='#ff001e', GradientType=1);
  /* IE6-9 */
  height: 200px;
}
.force-padding {
  padding: 0!important;
  margin: 0!important;
  min-width: 30px!important;
}
.view[data-page="ranking"] .navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffb100 0%, #ff001e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffb100 0%, #ff001e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffb100 0%, #ff001e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb100', endColorstr='#ff001e', GradientType=1);
  /* IE6-9 */
}
.bg-custom-color {
  background-color: #7FF508!important;
}
.page[data-page="ranking"] .page-content {
  padding-bottom: 90px;
}
.view[data-page="configuracion"] .img-user {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
}
.view[data-page="configuracion"] .img-user figure {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
}
.view[data-page="configuracion"] .img-user figure img {
  width: 100%;
  /*height: 120%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.swiper-wrapper.custom-wrapper {
  text-align: center;
  margin-top: 25px;
}
.swiper-slide.custom-slide {
  background: transparent;
  box-sizing: border-box;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-slide.custom-slide p {
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'robotobold';
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.swiper-slide.custom-slide .img-user {
  display: inline-block;
  width: auto;
  height: auto;
}
.swiper-slide.custom-slide .img-user figure {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.7);
}
.swiper-slide.custom-slide .img-user figure img {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bloque-inner-row {
  display: table-cell;
  vertical-align: middle;
}
.ranking-row-destacado {
  display: table;
  background-color: #ff001e;
  height: 80px;
  width: 100%;
  -webkit-box-shadow: 0px -1px 54px 3px #b54d3a;
  -moz-box-shadow: 0px -1px 54px 3px #b54d3a;
  box-shadow: 0px -1px 54px 3px #b54d3a;
  color: #ffffff;
}
.ranking-row-destacado .posicion {
  display: table-cell;
  vertical-align: middle;
  width: 45px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: 'robotoregular';
  padding-left: 4%;
}
.ranking-row-destacado .img-user {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  position: relative;
  /*padding-left:1%;*/
}
.ranking-row-destacado .img-user figure {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
}
.ranking-row-destacado .img-user figure img {
  width: 100%;
  /*height: 55px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ranking-row-destacado .name-user {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  min-width:150px;
  position: relative;
  font-family: 'robotoregular';
  text-align:center;
}
.ranking-row-destacado .puntos {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  position: relative;
  margin: 0 3px;
  font-family: 'robotoblack';
}
.ranking-row-destacado .acumulados {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  position: relative;
  /*padding-left:18%;*/
}
.ranking-row-destacado .acumulados img {
  max-width: 80%;
}
.ranking-row-general {
  display: table;
  background-color: #ffffff;
  border: solid 1px #F8F8F8;
  border-radius: 6px;
  height: 80px;
  width: 94%;
  -webkit-box-shadow: 0px 7px 27px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 7px 27px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 7px 27px -5px rgba(0, 0, 0, 0.55);
  color: #bfbfbf;
  margin: 10px auto;
  text-align: center;
}
.ranking-row-general .posicion {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 45px;
  text-align: center;
  color: #ff001e;
  font-size: 30px;
  font-family: 'robotoregular';
}
.ranking-row-general .img-user {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  position: relative;
}
.ranking-row-general .img-user figure {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: solid 1px #c7c9c9;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
}
.ranking-row-general .img-user figure img {
  width: 100%;
  /*height: 55px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ranking-row-general .name-user {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  position: relative;
  font-family: 'robotoregular';
  min-width:150px;
}
.ranking-row-general .puntos {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  position: relative;
  margin: 0 3px;
  font-family: 'robotoblack';
}
.ranking-row-general .acumulados {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  position: relative;
}
.ranking-row-general .acumulados i {
  display: block;
  text-align: center;
  font-size: 20px;
}
.ranking-row-general .acumulados small {
  font-family: 'robotoblack';
  color: #484848;
}
.page[data-page="perfil"] .page-content {
  background: url(../images/bg-perfil.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.view[data-page="perfil"] .navbar,.view[data-page="login"] .navbar,
.view[data-page="forgotpassword"] .navbar,.view[data-page="url_redirect"] .navbar,.view[data-page="PinchZoom"] .navbar {
  background: transparent;
}
.view[data-page="url_redirect"] .navbar:after,.view[data-page="PinchZoom"] .navbar:after {
  background: transparent;
}
.page[data-page="perfil"] .toolbar.none {
  background-color: transparent;
  padding: 0 15px;
}
.datos-perfil {
  display: block;
  text-align: center;
  margin-top: 40px;
}
.datos-perfil h2 {
  display: block;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-family: 'robotobold';
  margin: 10px;
}
.datos-perfil h2 small {
  display: block;
  text-align: center;
  color: #ffffff;
  font-family: 'robotolight';
  margin-top: 5px;
  font-size: 14px;
}
.toolbar.none {
  background-color: #ffffff;
  padding: 0 15px;
}
.toolbar.transparente {
  background-color: transparent!important;
  padding: 0 15px;
}
.small-text-footer {
  font-size: 14px;
  position: absolute;
  bottom: 15px;
}
.toolbar.ranking {
  height: 80px!important;
  width: 100%;
  display: block;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none!important;
  font-size: 14px;
}
.toolbar.ranking .ranking-row-destacado {
  background-color: #484848;
  box-shadow: none!important;
}
.fancybox-wrap.fancybox-default.fancybox-opened {
    width: 88% !important;
    left: 6% !important;
   
}
.toolbar.ranking .ranking-row-destacado .acumulados {
  display: inline-block;
  width: auto;
  position: relative;
  float: left;
  top: 23px;
  left: 23px;
}
.toolbar.ranking .ranking-row-destacado .acumulados i {
  display: block;
  text-align: center;
  font-size: 20px;
}
.toolbar.ranking .ranking-row-destacado .acumulados small {
  font-family: 'robotoblack';
  color: #ffffff;
}
.view[data-page="pre_inicio"] .page-content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb100+0,ff001e+100 */
  background: #ffb100;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffb100 0%, #ff001e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffb100 0%, #ff001e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffb100 0%, #ff001e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb100', endColorstr='#ff001e', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.view[data-page="pre_inicio"] .navbar {
  display: none;
}
.view[data-page="pre_inicio"] .toolbar-through .page-content {
  padding-bottom: 0;
}
.view[data-page="pre_inicio"] .navbar-through .page-content {
  padding-top: 0;
}
.view[data-page="pre_inicio"] .centrar-info {
  width: 90%;
  text-align: center;
}
.view[data-page="pre_inicio"] hr {
  display: block;
  width: 90%;
  border: none;
  height: 1px;
  background-color: #ffffff;
  margin: 20px auto;
}
.box-artista {
  display: inline-block;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40%;
  background-color: #ff001e;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid 1px #EFEFEF;
}
.box-artista .footer {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #bfbfbf;
  color: #ffffff;
  padding: 8px 6px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'robotobold';
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.box-artista .footer:active,
.box-artista .footer:focus {
  background-color: #ff001e;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.box-artista .item-active {
  background-color: #ff001e;
}
.lista_artistas {
  display: block;
}
.lista_artistas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lista_artistas ul li {
  height: auto;
  overflow: hidden;
  list-style: none;
  display: block;
  background-color: #ffffff;
  border-bottom: solid 1px #bfbfbf;
  padding: 18px 15px;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
.lista_artistas ul li:active {
  background-color: #f5a169;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  transition-delay: .2s;
}
.lista_artistas ul li .img-user {
  display: inline-block;
  width: 60px;
  float: left;
}
.lista_artistas ul li .img-user figure {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: solid 1px #c7c9c9;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.24);
}
.lista_artistas ul li .img-user figure img {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lista_artistas ul li .name-user {
  display: inline-block;
  width: auto;
  float: left;
  font-family: 'robotoregular';
  position: relative;
  top: 5px;
}
.lista_artistas ul li .name-user p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'robotobold';
}
.lista_artistas ul li .name-user small {
  position: relative;
  top: -5px;
  font-size: 10px;
}
.lista_alertas ul li .name-user {
  top: 12px!important;
}
.lista_alertas .activar-alerta {
  display: inline-block;
  float: right;
  width: 50px;
  height: 100%;
  font-size: 25px;
}
.lista_alertas .activar-alerta a {
  display: inline-block;
  position: relative;
  top: 9px;
  width: 25px;
  height: 30px;
}
.lista_alertas .activar-alerta a .active {
  color: #ff001e !important;
}
.page[data-page="mensaje-texto"] .page-content {
  background: url(../images/bg-perfil.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.view[data-page="no-contenido"] .navbar {
  background: transparent;
}
.page[data-page="no-contenido"] .page-content {
  background: url(../images/bg-perfil.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.page[data-page="seleccion_artista"] .page-content {
  padding-bottom: 60px;
}
.slide-back-stars {
  background: url(../images/bg-perfil.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.custom-nav-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  padding: 0 8px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 16px;
}
/*Botones*/
.btn-base {
  margin: 20px 0;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  -moz-transition: -moz-box-shadow 0.2s ease-in-out;
  -o-transition: -o-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.copy.pforgt{
     -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-decoration:underline;
  color:#c7c9c9;
}
.btn-base .copy {
  display: inline-block;
  padding: 15px  25px;
  font-family: 'robotoregular';
  line-height: 1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.btn-base:active .copy {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.btn-base-small {
  margin: 10px 0;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  -moz-transition: -moz-box-shadow 0.2s ease-in-out;
  -o-transition: -o-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.btn-base-small .copy {
  display: inline-block;
  padding: 8px  25px;
  font-family: 'robotoregular';
  line-height: 1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.btn-base-small:active .copy {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.btn-blanco {
  -webkit-box-shadow: 0 5px 0 #c7c9c9;
  -moz-box-shadow: 0 5px 0 #c7c9c9;
  box-shadow: 0 5px 0 #c7c9c9;
}
.btn-blanco .copy {
  background: #ffffff;
  color: #000000;
}
.btn-blanco:active {
  -webkit-box-shadow: 0 5px 0 #c7c9c9;
  -moz-box-shadow: 0 5px 0 #c7c9c9;
  box-shadow: 0 5px 0 #c7c9c9;
}
.btn-blanco-line {
  -webkit-box-shadow: 0 5px 0 #ffffff;
  -moz-box-shadow: 0 5px 0 #ffffff;
  box-shadow: 0 5px 0 #ffffff;
}
.btn-blanco-line .copy {
  background: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
}
.btn-blanco-line:active {
  -webkit-box-shadow: 0 5px 0 #ffffff;
  -moz-box-shadow: 0 5px 0 #ffffff;
  box-shadow: 0 5px 0 #ffffff;
}
.big-icon {
  font-size: 50px;
}
/*Fonts*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?hv2ysa');
  src: url('fonts/icomoon.eot?hv2ysa#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?hv2ysa') format('truetype'), url('fonts/icomoon.woff?hv2ysa') format('woff'), url('fonts/icomoon.svg?hv2ysa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-custom-icons-20:before {
  content: "\e900";
}
.icon-custom-icons-21:before {
  content: "\e901";
}
.icon-custom-icons-22:before {
  content: "\e902";
}
.icon-custom-icons-23:before {
  content: "\e903";
}
.icon-custom-icons-24:before {
  content: "\e917";
}
.icon-custom-icons-11:before {
  content: "\e904";
}
.icon-custom-icons-12:before {
  content: "\e905";
}
.icon-custom-icons-13:before {
  content: "\e906";
}
.icon-custom-icons-14:before {
  content: "\e907";
}
.icon-custom-icons-15:before {
  content: "\e908";
}
.icon-custom-icons-16:before {
  content: "\e909";
}
.icon-custom-icons-17:before {
  content: "\e90a";
}
.icon-custom-icons-18:before {
  content: "\e90b";
}
.icon-custom-icons-19:before {
  content: "\e90c";
}
.icon-custom-icons-02:before {
  content: "\e90d";
}
.icon-custom-icons-03:before {
  content: "\e90e";
}
.icon-custom-icons-04:before {
  content: "\e90f";
}
.icon-custom-icons-05:before {
  content: "\e910";
}
.icon-custom-icons-06:before {
  content: "\e911";
}
.icon-custom-icons-07:before {
  content: "\e912";
}
.icon-custom-icons-08:before {
  content: "\e913";
}
.icon-custom-icons-09:before {
  content: "\e914";
}
.icon-custom-icons-10:before {
  content: "\e915";
}
.icon-custom-icons-01:before {
  content: "\e916";
}
.icon-custom-icons-24:before {
  content: "\e917";
}
.icon-custom-icons-21-02:before {
  content: "\e918";
}
.icon-custom-icons-21-01:before {
   content: "";
}
.icon-custom-icons-21-04:before {
  content: "\e91a";
}
.icon-custom-icons-21-03:before {
  content: "\e91b";
}
.icon-pencil:before {
  content: "\e91c";
}
.icon-bell:before {
  content: "\e91d";
}
.icon-ok-1:before {
  content: "\e91e";
}
.icon-ok-2:before {
  content: "\e91f";
}
.font-black {
  font-family: 'robotoblack';
}
.font-bold {
  font-family: 'robotobold';
}
.font-light {
  font-family: 'robotolight';
}
.font-regular {
  font-family: 'robotoregular';
}
.text-claro {
  color: #ffffff !important;
}
.font-gris {
  color: #bfbfbf ;
}
.font-gris-fuerte {
  color: #AAAAAA!important;
}
.font-blanco {
  color: #ffffff !important;
}
.font-naranja {
  color: #ff001e !important;
}
.icon-big {
  font-size: 35px;
}
.delay-a {
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.delay-b {
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.delay-c {
  -webkit-animation-duration: .3s!important;
  -moz-animation-duration: .3s!important;
  animation-duration: .3s!important;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.crossbtns{font-size:35px;}
.sharesize {font-size:28px;}
.icofavrit{    background-image: url(../img/icofavouait.png);
    background-repeat: no-repeat;
    background-size: 17px;
    HEIGHT: 30px;
    background-position-x: 2px; }